PORT=8000
MONGODB_URL=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_SECRET_EXPIRY=1d
JWT_REFRESH_SECRET_EXPIRY=1d
CORS_ORIGIN=http://localhost:8081
NODE_ENV=development

BREVO_SMTP_USER=
BREVO_SMTP_KEY=
EMAIL_FROM=

RAZORPAY_KEY_ID=rzp_live_xxxxxxxxxxxxx
RAZORPAY_KEY_SECRET=xxxxxxxxxxxxxxxx

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=
