NODE_ENV=development
PORT=8000
MONGODB_URL=
JWT_ACCESS_SECRET=
JWT_ACCESS_SECRET_EXPIRY=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_SECRET_EXPIRY=30d
CORS_ORIGIN=http://localhost:5173
FRONTEND_URL=https://yourfrontend.com

// Email Configuration (Brevo)
BREVO_SMTP_USER=
BREVO_SMTP_KEY=
EMAIL_FROM=

// Razorpay Configuration
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
