/* === General layout === */
.login-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  gap: 100px;
  background-color: #9fa4c4;
background-image: linear-gradient(315deg, #9fa4c4 0%, #9e768f 74%);

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* === Form Box === */

.login-form {
  background-color: white;
  padding: 2rem;
  width: 320px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
     backdrop-filter: blur(8px) saturate(80%);
    -webkit-backdrop-filter: blur(8px) saturate(80%);
    background-color: rgba(17, 25, 40, 0.29);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
  
}

.login-title {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
  color: #e6e4e6; /* deep blue */
}

/* === Labels and Inputs === */
.login-label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  color: #c0c1c3;
}

.login-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  margin-bottom: 16px;
  font-size: 0.95rem;
  transition: border 0.2s;
}

.login-input:focus {
  outline: none;
  border-color: #2563eb; /* blue-600 */
}

/* === Button === */
.login-button {
  --bg: #8c4dc0;
  --text-color: #fff;
  position: relative;
  width: 150px;
  border: none;
  background: var(--bg);
  color: var(--text-color);
  padding: 1em;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.2s;
  border-radius: 5px;
  opacity: 0.8;
  letter-spacing: 1px;
  box-shadow: #692669 0px 7px 2px, #000 0px 8px 5px;
}

.login-button:hover {
  opacity: 1;
}
.login-button:active {
  top: 4px;
  box-shadow: #531542 0px 3px 2px,#000 0px 3px 5px;
}
.aside-image{
  padding: 2rem;
  height: 365px;
  width: 400px;
  backdrop-filter: blur(8px) saturate(80%);
    -webkit-backdrop-filter: blur(8px) saturate(80%);
    background-color: rgba(17, 25, 40, 0.29);
    border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 54% 46% 16% 84% / 64% 76% 24% 36%  ;
 background-color: #50d8d7;
background-image: linear-gradient(316deg, #50d8d7 0%, #923993 74%);

  background-image: url(https://cdn.svgator.com/images/2021/08/SVG-files-improve-user-experience.png);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-animation: vibrate-1 5s linear infinite both;
	        animation: vibrate-1 5s linear infinite both;
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
